<table class="table">
    <tr>
        <td><strong>Name:</strong></td>
        <td><strong>Description:</strong></td>
        <td><strong>Priority:</strong></td>
        <td><strong>Status:</strong></td>
        <td><strong>Data:</strong></td>
    </tr>
    {% for task in tasks %}
        <tr>
            <td>{{ task.name }}</td>
            <td>{{ task.description }}</td>
            <td>{{ task.priority }}</td>
            <td>{{ task.status }}</td>
            <td>{{ task.date|date('Y-m-d') }}</td>

            <td>
                <a class="btn btn-default" href=" {{ path('showComments', {'taskId':task.id}) }}">Comments</a>
                <a class="btn btn-default"
                   href=" {{ path('deleteTask', {'taskId':task.id, 'categoryId':categoryId}) }}">DELETE</a>
                {% if (task.status == 'To do') %}
                    <a class="btn btn-default"
                       href=" {{ path('editTask', {'taskId':task.id, 'categoryId':categoryId}) }}">EDIT</a>
                {% endif %}
            </td>

            <td>
                {% if (task.status == 'To do') %}
                    <a class="btn btn-default"
                       href=" {{ path('markAsDoneTask', {'taskId':task.id, 'categoryId':categoryId}) }}">Mark as
                        Done</a>
                {% endif %}
            </td>

        </tr>
    {% endfor %}
</table>