{% extends 'CodersLabBundle::layout.html.twig' %}

{% block title %}
    Category: {{ category.categoryName }}
{% endblock %}

{% block panelTitle %}
    <span class="panel-title">{{ category.categoryName }}</span>
    <div class="btn-group" role="group" aria-label="...">
        <a class="btn btn-default"
           href="{{ path('editCategory', {'categoryId':category.id, 'userId':app.user.id}) }}">EDIT</a>
        <a class="btn btn-default"
           href="{{ path('deleteCategory', {'categoryId':category.id, 'userId':app.user.id}) }}">DELETE</a>
        <a class="btn btn-default" href="{{ path('addTask', {'categoryId':category.id, 'userId':app.user.id}) }}">ADD
            TASK</a>
    </div>
{% endblock %}

{% block content %}
    {% include 'CodersLabBundle:Tasks:showAllTasks.html.twig' with {'tasks': tasks, 'categoryId':category.id} %}
    <ul class="nav nav-pills">
        <li role="presentation">
        <a href="{{ path('showCategory', {'categoryId':category.id, 'which':3}) }}"><strong>All</strong></a>
        </li>
        <li role="presentation">
            <a href="{{ path('showCategory', {'categoryId':category.id, 'which':1}) }}"><strong>To do</strong></a>
        </li>
        <li role="presentation">
            <a href="{{ path('showCategory', {'categoryId':category.id, 'which':2}) }}"><strong>Done</strong></a>
        </li>

    </ul>
{% endblock %}
