{% extends 'CodersLabBundle::layout.html.twig' %}

{% block title %}
    Task: {{ task.name }}
{% endblock %}

{% block panelTitle %}
    Task: {{ task.name }}
    <a class="btn btn-default" href="{{ path('addComment', {'taskId':task.id}) }}">ADD COMMENT</a>
{% endblock %}

{% block content %}
    <table class="table">
        {% for comment in comments %}
            <tr>
                <td>
                    {{ comment.commentText }}
                </td>
                <td>
                    <a class="btn btn-default"
                       href="{{ path('deleteComment', {'commentId':comment.id, 'taskId':task.id}) }}">DELETE</a>
                </td>
            </tr>
        {% else %}
            No Comments
        {% endfor %}
    </table>
{% endblock %}